@keyframes show{
    from {opacity:0;}
    to {opacity:1;}
}

@keyframes width{
    from {width:0;}
    to {width:90%;}
}

@keyframes sticky{
    from {transform:translateY(-100%);}
    to {transform:translateY(0);}
}

.rote{
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}
